navigation {
    display: block;
    padding: 16px;
    background: silver;
    background-image: linear-gradient(to bottom, #fff 0, #abcdef 100%);
    border-bottom: solid 2px #000;


    .homepage_image {
        background: url('./homepage.png');
        background-size: 100%;
        border: solid 1px black; 
        width: 45px;
        height: 45px;
    }

}
