$fa-font-path:"../node_modules/font-awesome/fonts";
@import '../node_modules/font-awesome/scss/font-awesome';

body {
    margin: 0;
    background: #abcdef;
    
    h1 {
        font-family: Tahoma;
    }

    .content {
        padding: 16px;
    }
}